main .Present {
  position: relative;
  .Present-stripes {
    z-index: -1;
    width: 100%;
    transform: skewY(-12deg);
    display: grid;
    grid: repeat(2, 200px)/1fr minmax(0, 800px) 1fr;
    transform-origin: 0;
    background: linear-gradient(100grad, $sectionGrey, lighten($sectionGrey, 15%) 50%);
    height: calc(100% - 150px);
    align-content: space-between;
    & :nth-child(1) {
      grid-column: 2;
      background: linear-gradient(100grad, rgba(41, 50, 205, 0) 70%, rgba(216, 216, 216, 0.813));
    }
    & :nth-child(2) {
      background: linear-gradient(100grad, lighten($eventloopYelow, 20%), $eventloopYelow);
    }
    & :nth-child(3) {
      grid-row: 2;
      background: linear-gradient(100grad, lighten(#5D0084, 20%), #5D0084);
    }
  }
  .PresentContent {
    transform: translateY(-37rem);
    width: 100%;
  }
  .H2 {
    padding: 2rem 1.6rem;
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    .shield {
      background-color: $eventloopYelow;
      border-radius: 50%;
      width: 3.2rem;
      height: 3.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 2rem;
    }
  }

  .Content {
    display: flex;
    justify-content: center;
    .Box {
      div{
        text-align: justify;
      }
      padding: 2rem 4rem;
      width: 60%;
      background-color: white;
      box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
        a {
          margin-top: 2rem;
          padding: 0.5rem 1rem;
          color: white;
          text-decoration: none;

          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 2rem;
          box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
          border-radius: 4px;
          &:hover {
            transform: translateY(-1px);
            box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
          }
          img {
            margin-right: 1rem;
            height: 2rem;
          }
          &.Github {
            background-color: #343434;
            &:active {
              background-color: darken(#343434, 10%);
            }
          }

        }
      
    }

  }
}

@media (max-width: 900px) {
  main .Event {
    .Content {

    }
  }
}