<div id="contact">
  <div class="wrap">
    <h2 class="title">Acerca de Eventloop</h2>
    <p class="about">Eventloop es una noche al mes donde nos reunimos a hablar de JavaScript, Ingeniería de Software y GIFs de gatos.</p>
    <p class="about">Tenemos 3 charlas técnicas de 20 minutos donde profesionales nos platican de sus experiencias del Mundo Real&reg;.</p>
    <p class="about">El evento está pensado para desarrolladores de todos los niveles de experiencia.</p>
    <p class="about">Las puertas abren a las 7:30, las pláticas inician a las 8:00. Tu RSVP no es una garantía de acceso. El acceso se otorga
      en el orden de llegada. Llega 15 minutos antes.</p>
    <p class="about">Nuestros eventos se rigen por nuestro
      <a href="https://github.com/eventloop/codigo-de-conducta" target="_blank">código de conducta</a> que garantiza que tendremos un evento que le de la bienvenida a todos los asistentes.</p>
    <br />
    <p class="about">
      <a href="https://twitter.com/eventloopmx" target="_blank" class="social">
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
        @eventloopmx
      </a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://www.facebook.com/eventloopmx/" target="_blank" class="social">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
        /eventloopmx
      </a>
    </p>
    <div class="copyright">
      <img src="/assets/img/eventloop.svg" alt="" class="logo">
      <p>&copy; 2018 – Eventloop</p>
    </div>
  </div>
</div>