<header>
  <div class="stripes">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="Top-bar">
    <div>
      <a href="/">
        <img class="logo" src="/assets/img/eventloop_outline.svg" alt="" srcset="">
      </a>
    </div>
    <nav>
      <a href="#events">eventos</a>
      <a href="#aprende">aprende</a>
      <a href="#presenta">presenta</a>
      <a href="#patrocina">patrocina</a>
    </nav>
  </div>
  <div class="H1">
    <h1>El meetup sobre JS mas grande de America latina</h1>
  </div>
  <div class="Content">
    <div class="Half">
      <div class="Text">
        Eventloop es una noche al mes donde nos reunimos a hablar de JavaScript, ingeniería de software, mejores practicas y GIFs de gatos.
      </div>
      <div class="Social">
        <a
          href="https://www.meetup.com/eventloop/"
          class="Meetup"
          target="_blank"
        >
          <img class="logo" src="/assets/img/fa/meetup.svg" alt="Link a Meetup – Eventloop" srcset="">
        </a>
        <a
          href="https://twitter.com/eventloopmx"
          class="Twitter"
          target="_blank"
        >
          <img class="logo" src="/assets/img/fa/twitter.svg" alt="Link a Twitter – Eventloop" srcset="">
        </a>
        <a
          href="https://www.facebook.com/eventloopmx/"
          class="Facebook"
          target="_blank"
        >
          <img class="logo" src="/assets/img/fa/facebook-f.svg" alt="Link a Facebook – Eventloop" srcset="">
        </a>
        <a
          href="http://chat.javascriptmx.com/"
          class="Slack"
          target="_blank"
        >
          <img class="logo" src="/assets/img/fa/slack-hash.svg" alt="Link a Slack – Eventloop" srcset="">
        </a>
      </div>
    </div>
    <div class="Half"></div>
  </div>
</header>
