<section class="Learn" name="aprende">
  <div class="H2">
      <div class="shield">
          <img src="/assets/img/fa/terminal.svg" alt="" srcset="">
      </div>
      <h2>Aprende</h2> 
  </div>
  <div class="Content">

    <a href="" class="Half Workshop">
      <h3>Workshops</h3>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </a>
    <a href="" class="Half Slack">
      <h3>Slack</h3>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </a>

  </div>
</section>
