<section class="Learn" name="aprende" id="aprende">
  <div class="H2">
    <div class="shield">
      <img src="/assets/img/fa/terminal.svg" alt="" srcset="">
    </div>
    <h2>Aprende</h2>
  </div>
  <div class="Content">
    <a href="https://nodeschool.io/" class="Half Workshop">
      <h3>Workshops</h3>
      Una de las misiones del evento es elevar el nivel de los desarrolladores de la ciudad, por lo que organizamos workshops como Nodeschool, con miembros avanzados de la comunidad como coaches y así los asistentes aprenden y lo coaches refuerzan su conocimiento.
    </a>
    <a href="http://chat.javascriptmx.com/" class="Half Slack">
      <h3>Slack</h3>
      Si alguna vez tienes dudas sobre tu programa de Javascript, quieres publicar un vacante sin costo alguno o simplemente quieres geekear un rato únete a nuestro slack
    </a>
  </div>
</section>
