<section class="Present">
  <div class="Present-stripes">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="PresentContent">
    <div class="H2">
      <div class="shield">
        <img src="/assets/img/fa/bullhorn.svg" alt="" srcset="">
      </div>
      <h2>Presenta</h2>
    </div>
    <div class="Content">
      <div class="Box">
          <p>Siempre estamos en busca de ponentes que quieran ayudarnos a exponer temas interesantes para la comunidad. Las pláticas pueden ser de cualquier tema que esté relacionado con JavaScript, sobre tus experiencias con algún proyecto o problema que resolviste, alguna demo genial o sobre algo nuevo que has aprendido.</p>
          <p>Si estás interesado en colaborar, levanta un issue en nuestro repositorio de pláticascon información sobre tu plática y podemos orientarte para que des tu plática en un evento.</p>
          <a href="https://github.com/eventloop/platicas/issues" target="_blank" class="Github">
            <img class="logo" src="/assets/img/fa/github.svg" alt="" srcset="">
            Propón una plática
          </a>
      </div>
    </div>
  </div>
</section>
