<section class="Sponsor" name="patrocina" id="patrocina">
  <div class="H2">
    <div class="shield">
      <img src="/assets/img/fa/handshake.svg" alt="" srcset="">
    </div>
    <h2>Patrocina</h2>
  </div>
  <div class="Content">
    <div class="Box">
      <p>Eventloop es un meetup mensual centrado en el desarrollo con JavaScript, tiene mas de 4 de años de trayectoria , durante el evento tratamos de compartir buenas practicas y tecnologías de punta de la mano de las mejores desarrolladas y desarrolladores de la ciudad. Eventloop es un meetup inclusivo y nos regimos por un estricto código de conducta, para salvaguardar a todos y cada uno de nuestro asistentes. Eventloop es un organización sin fines de lucro, vivimos de aplauso.</p>
      <p>Si lo que tu buscas es dar conocer a tu marca, reclutar de nuestra red de mas 2000 develares o solo quieres darle algo de regreso a la comunidad tenemos varias opciones para que tu y tu empresa ayude a Eventloop. Siempre estamos buscando sponsors de bebidas, pizza y venue para el evento. No esta limitado a lo anterior, también recibimos playeras, stickers o libros. </p>
      <p>Si te animas Eventloop se compremete a:</p>
      <ul>
        <li>Poner un anuncio en nuestro mailing list con vacantes o promociones.</li>
        <li>Menciones de tu organización en nuestras redes sociales.</li>
        <li>Un espacio de 10 minutos durante para hablar de tu marca.</li>
      </ul>
    </div>
  </div>
</section>
