
/*--------------------------------------------------
  
  Project Name: Eventloop
  Project URL: https://eventloop.mx

--------------------------------------------------*/

/*
  Primary imports
*/

@import 'normalize';

$fontStack: 'Raleway', sans-serif;
$fontStack: 'Roboto Slab', sans-serif;

body,html {
  font-family: 'Roboto Slab';
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
  font-family: 'Raleway';
}

$eventloopYelow: #F8D000;
$slackGreen: #1B924B;
$sectionGrey: rgb(201, 201, 201);
$eventloopBlue: #1561BB;

@import 'components/event';
@import 'components/header';
@import 'components/learn';
@import 'components/present';
@import 'components/sponsor';
@import 'components/contact';
