#nav {
  display: block;
  position: fixed;
  width: 100%;

  padding: 2rem $padding;
  z-index: 1000;
  cursor: default;

  background-color: rgba(251,251,251,0.95);
  @include border-box();

  .wrap {
    margin: 0 auto;
    width: 100%;
    max-width: $content-max-width;
    text-align: right;
  }

  .left,
  .right {
    display: inline-block;
    a {
      font-family: $fontStack;
      font-size: 1rem;
      font-weight: 500;
      color: $azulpro;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;

      @include transition(color 70ms ease-in-out);

      & + a {
        margin-left: 1rem;
      }

      &:hover {
        color: $eventloop;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .left {
    float: left;
    position: relative;
    .logo {
      position: absolute;
      display: block;
      height: 2.5rem;
      top: -.75rem;
      padding: 0;
    }
  }
}


@media (max-width: 600px) {
  #nav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .left {
      .logo {
        top: 1rem;
      }
    }
    .right {
      a {
        display: block;
        line-height: 150%;
      }
    }
  }
}