$sponsors-title: $azulpro;
$sponsors-about: #F7F7F7;
$sponsors-link: #1478C9;

#sponsors {
  background: #1478C9;

  .title {
    color: $sponsors-title;
  }

  .about {
    color: $sponsors-about;
    a {
      color: $sponsors-link;
    }
  }

}