$sponsors-title: #FFFFFF;
$sponsors-about: #FAFAFA;
$sponsors-link: #FAFAFA;

#sponsors {
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);

  .title {
    color: $sponsors-title;
  }

  .about {
    color: $sponsors-about;
    a {
      color: $sponsors-link;
    }
  }

}