#talksWanted {
  background-image: -webkit-linear-gradient(200deg, #F0F6FA 66%, #FFFFFF 66%);

  .main {
    color: #141E30;
  }

  .about {
    color: #A7A7A7;
    a {
      color: #141E30;
    }
  }
}
