#talks {
  display: block;
  position: relative;
  width: 100%;

  font-size: 0;

  .talk {
    margin: 0 auto;
    width: 100%;
    padding: 3rem $padding;
    margin: 0 auto;
    font-size: 1rem;
    background-color: #F0F6FA;
    @include border-box();

    // SWAG
    background-image: -webkit-linear-gradient(200deg, #F0F6FA 33%, #FFFFFF 33%);
    &:nth-child(2n) {
      background-image: -webkit-linear-gradient(200deg, #F0F6FA 33%, #FFFFFF 66%);
    }
    &:nth-child(3n) {
      background-image: -webkit-linear-gradient(200deg, #FFFFFF 66%, #F0F6FA 100%);
    }

    .about {
      display: block;
      max-width: $content-max-width;
      font-family: $fontStack;
    }
    .name {
      display: block;
      max-width: $content-max-width;
      margin: 0 auto;
      font-family: $fontStack;
      font-size: 1.125rem;
      letter-spacing: 2px;
      line-height: 140%;
      text-transform: uppercase;
      cursor: default;
      a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .title {
      display: block;
      max-width: $content-max-width;
      margin: 0.25rem auto 0;
      margin-top: 0.5rem;
      font-family: $fontStack;
      font-size: 1.5rem;
      line-height: 140%;
      color: $eventloop;
      text-transform: uppercase;
      cursor: default;
    }
    .about {
      display: block;
      max-width: $content-max-width;
      margin: 0 auto;
      margin-top: 0.75rem;
      font-family: $fontStack;
      font-size: 1.125rem;
      line-height: 160%;
      cursor: default;
    }
  }

  .talksWanted {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 3rem $padding;
    margin: 0 auto;
    font-size: 1rem;

    background: #FFFFFF;
    // background: #F0F6FA;
    // background: -webkit-linear-gradient(to bottom, #243B55, #141E30);
    // background: linear-gradient(to bottom, #243B55, #141E30);

    // background-image: -webkit-linear-gradient(200deg, #243B55 55%, #141E30 55%);
    background-image: -webkit-linear-gradient(200deg, #F0F6FA 66%, #FFFFFF 66%);


    @include border-box();

    &--main {
      display: block;
      max-width: $content-max-width;
      margin: 0 auto;
      font-family: $fontStack;
      font-size: 1.25rem;
      line-height: 100%;
      text-align: center;
      color: #141E30;
      cursor: default;
    }
    &--about {
      display: block;
      max-width: $content-max-width / 1.5;
      margin: 1rem auto 0;
      font-family: $fontStack;
      font-size: 1.125rem;
      line-height: 160%;
      text-align: center;
      color: #A7A7A7;
      cursor: default;

      a {
        color: #141E30;
        cursor: pointer;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
