$talksWanted-title: #141E30;
$talksWanted-about: #A7A7A7;
$talksWanted-link: #1478C9;

#talksWanted {
  background-image: -webkit-linear-gradient(200deg, #F0F6FA 66%, #FFFFFF 66%);

  .main {
    color: $talksWanted-title;
  }

  .about {
    color: $talksWanted-about;
    a {
      color: $talksWanted-link;
    }
  }
}
