#talks {
  display: block;
  position: relative;
  width: 100%;

  font-size: 0;

  .talk {
    margin: 0 auto;
    width: 100%;
    padding: 3rem $padding;
    margin: 0 auto;
    font-size: 1rem;
    background-color: #F0F6FA;
    @include border-box();

    // SWAG
    background-image: -webkit-linear-gradient(200deg, #F0F6FA 33%, #FFFFFF 33%);
    &:nth-child(2n) {
      background-image: -webkit-linear-gradient(200deg, #F0F6FA 33%, #FFFFFF 66%);
    }
    &:nth-child(3n) {
      background-image: -webkit-linear-gradient(200deg, #FFFFFF 66%, #F0F6FA 100%);
    }

    .about {
      display: block;
      max-width: $content-max-width;
      font-family: $fontStack;
    }
    .name {
      display: block;
      max-width: $content-max-width;
      margin: 0 auto;
      font-family: $fontStack;
      font-size: 1.125rem;
      letter-spacing: 2px;
      line-height: 140%;
      text-transform: uppercase;
      cursor: default;
      a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .title {
      display: block;
      max-width: $content-max-width;
      margin: 0.25rem auto 0;
      margin-top: 0.5rem;
      font-family: $fontStack;
      font-size: 1.5rem;
      line-height: 140%;
      color: $eventloop;
      text-transform: uppercase;
      cursor: default;
    }
    .about {
      display: block;
      max-width: $content-max-width;
      margin: 0 auto;
      margin-top: 0.75rem;
      font-family: $fontStack;
      font-size: 1.125rem;
      line-height: 160%;
      cursor: default;
    }
  }
}
