$team-title: $azulpro;
$team-about: #FAFAFA;
$team-link: #FFFFFF;

#team {
  // background: #1478C9;

  .title {
    color: $team-title;
  }

  ul.members {
    list-style-type: none;
    font-size: 0;
    text-align: center;
    li {
      display: inline-block;
      width: auto;
      a {
        color: $team-link;
      }
      & + li {
        margin-left: 1rem;
        color: red;
      }
    }
  }

}
