<!DOCTYPE html>
  <html>
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <title>Eventloop</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    <script src="https://use.fontawesome.com/b5c11d5cf6.js"></script>
  </head>
  <body>

    <!-- Header -->
    <nav id="nav">
      <div class="wrap">
        <div class="left">
          <a href="">
            <img src="/assets/img/eventloop.svg" alt="" class="logo">
          </a>
        </div>
        <div class="right">
          <a href="#talks">Pláticas</a>
          <a href="#team">Equipo</a>
          <a href="#contact">Acerca De</a>
        </div>
      </div>
    </nav>

    <!-- Hero -->
    <div id="hero">
      <div class="wrap">
        <div class="event">
          <h2 class="title">Próximo evento</h2>
          <p class="date">
            {{ page.event_weekday }}, {{ page.event_date }}<br />
            {{ page.event_time }}
          </p>
          <p class="location">
            <a href={{ page.event_address_google_maps }} target="_blank">
              <i class="fa fa-map-pin" aria-hidden="true"></i>
              {{ page.event_location }}
            </a>
          </p>
        </div>
        <div class="talks">
          <h2 class="title">Pláticas</h2>
          <ul>
            <li>Plática 1</li>
            <li>Plática 2</li>
            <li>Plática 3</li>
          </ul>
          <a href="{{ page.event_meetup_link }}" class="meetup" target="_blank">
            Registro
            <i class="fa fa-hand-o-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Talks -->
    <div id="talks">
      <div class="talk">
        <div class="img"></div>
        <div class="about">
          <p class="name">Nombre de la persona</p>
          <p class="title">Título de la plática bien chida</p>
          <p class="about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <div class="talk">
        <div class="img"></div>
        <div class="about">
          <p class="name">Nombre de la persona</p>
          <p class="title">Título de la plática bien chida</p>
          <p class="about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <div class="talk">
        <div class="img"></div>
        <div class="about">
          <p class="name">Nombre de la persona</p>
          <p class="title">Título de la plática bien chida</p>
          <p class="about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>

    <!-- Talks Wanted -->
    <div id="talksWanted" class="standardBox">
      <div class="wrap">
        <h2 class="title">¿Quieres dar una plática?</h2>
        <p class="about">Siempre estamos <a href="https://github.com/eventloop/platicas#quiero-presentar-o-adoptar-una-plática-" target="_blank">en busca de pláticas</a> para próximos Eventloop.<br />Si no has dado una plática antes no hay problema, te guiaremos y ayudaremos a que tu plática sea un éxito.</p>
      </div>
    </div>
    <!-- Sponsors -->
    <div id="sponsors" class="standardBox">
      <div class="wrap">
        <h2 class="title">Sponsors</h2>
        <p class="about">Eventloop no sería posible sin la ayuda de nuestros sponsors</p>
      </div>
    </div>
    <!-- Team -->
    <div id="team" class="standardBox">
      <div class="wrap">
        <h2 class="title">Equipo</h2>
        <ul class="members">
          <li><a href="https://twitter.com/jeduan" target="_blank">Jeduan</a></li>
          <li><a href="https://twitter.com/marulango" target="_blank">Maru</a></li>
          <li><a href="https://twitter.com/sparragus" target="_blank">Richard</a></li>
          <li><a href="https://twitter.com/cool_acid" target="_blank">Eduardo</a></li>
          <li><a href="https://twitter.com/jmz7v" target="_blank">Julio</a></li>
          <li><a href="https://twitter.com/oscarOcegueraB" target="_blank">Oscar</a></li>
          <li><a href="https://twitter.com/babasbot" target="_blank">Luis</a></li>
          <li><a href="https://twitter.com/rodikana" target="_blank">Rodrigo</a></li>
        </ul>
      </div>
    </div>
    <!-- Contact -->
    <div id="contact" class="standardBox">
      <div class="wrap">
        <h2 class="title">Acerca de Eventloop</h2>
        <p class="about">Eventloop es una noche al mes donde nos reunimos a hablar de JavaScript, Ingeniería de Software y GIFs de gatos.</p>
        <p class="about">Tenemos 3 charlas técnicas de 20 minutos donde profesionales nos platican de sus experiencias del Mundo Real&reg;.</p>
        <p class="about">El evento está pensado para desarrolladores de todos los niveles de experiencia.</p>
        <p class="about">Las puertas abren a las 7:30, las pláticas inician a las 8:00. Tu RSVP no es una garantía de acceso. El acceso se otorga en el orden de llegada. Llega 15 minutos antes.</p>
        <p class="about">
          Síguenos en <a href="https://twitter.com/eventloopmx" target="_blank">Twitter</a>
          y <a href="https://www.facebook.com/eventloopmx/" target="_blank">Facebook</a>
        </p>
        <p class="about">Nuestros eventos se rigen por nuestro <a href="https://github.com/eventloop/codigo-de-conducta" target="_blank">Código de conducta</a> que garantiza que tendremos un evento que le de la bienvenida a todos los asistentes.</p>
        <div class="copyright">
          <img src="/assets/img/eventloop.svg" alt="" class="logo">          
          <p>&copy; 2017 – Eventloop</p>
        </div>
      </div>
    </div>
  </body>
</html>
