<!DOCTYPE html>
  <html>
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <title>Eventloop</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    <script src="https://use.fontawesome.com/b5c11d5cf6.js"></script>
  </head>
  <body>

    <!-- Header -->
    <nav id="nav">
      <div class="wrap">
        <div class="left">
          <a href="">Eventloop</a>
        </div>
        <div class="right">
          <a href="#talks">Pláticas</a>
          <a href="">Equipo</a>
          <a href="">Contacto</a>
        </div>
      </div>
    </nav>

    <!-- Hero -->
    <div id="hero">
      <div class="wrap">
        <div class="event">
          <h2 class="title">Próximo evento</h2>
          <p class="date">
            {{ page.event_weekday }}, {{ page.event_date }}<br />
            {{ page.event_time }}
          </p>
          <p class="location">
            <a href={{ page.event_address_google_maps }} target="_blank">
              <i class="fa fa-map-pin" aria-hidden="true"></i>
              {{ page.event_location }}
            </a>
          </p>
        </div>
        <div class="talks">
          <h2 class="title">Pláticas</h2>
          <ul>
            <li>Plática 1</li>
            <li>Plática 2</li>
            <li>Plática 3</li>
          </ul>
          <a href="{{ page.event_meetup_link }}" class="meetup" target="_blank">
            Registro
            <i class="fa fa-hand-o-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Talks -->
    <div id="talks">
      <div class="talk">
        <div class="img"></div>
        <div class="about">
          <p class="name">Nombre de la persona</p>
          <p class="title">Título de la plática bien chida</p>
          <p class="about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <div class="talk">
        <div class="img"></div>
        <div class="about">
          <p class="name">Nombre de la persona</p>
          <p class="title">Título de la plática bien chida</p>
          <p class="about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <div class="talk">
        <div class="img"></div>
        <div class="about">
          <p class="name">Nombre de la persona</p>
          <p class="title">Título de la plática bien chida</p>
          <p class="about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <div class="talksWanted">
        <p class="talksWanted--main">¿Quieres dar una plática?</p>
        <p class="talksWanted--about">Siempre estamos en busca de pláticas para próximos Eventloop.<br />Si no has dado una plática antes no hay problema, te guiaremos y ayudaremos a que tu plática sea un éxito.</p>
      </div>
    </div>
    <!-- Sponsors -->
    <div id="sponsors">
      <h2>Sponsors</h2>
      <p>Eventloop no sería posible sin la ayuda de nuestros sponsors</p>
    </div>
    <!-- Team -->
    <div id="team">
      <h2>Equipo</h2>
    </div>
    <!-- Contact -->
    <div id="contact">
      <h2>Contacto</h2>
    </div>
  </body>
</html>