<!DOCTYPE html>
  <html>
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eventloop</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Roboto+Slab:300,400,700" rel="stylesheet">
    <!-- Icon -->
    <link rel="icon" type="image/png" href="/assets/img/eventloop.png" />
  </head>
  <body>
    <main>
    <!-- Header -->

    {% include header.html %}
    {% include event.html %}
    {% include learn.html %}
    {% include present.html %}
    {% include sponsor.html %}
    {% include footer.html %}

    </main>
  </body>
</html>
